/* common style */
.green {
    color: $boolbnb_green;
}

.blue {
    color: $boolbnb_blue;
}

.bckg-green {
    background-color: $boolbnb_green;
}

.bckg-blue {
    background-color: $boolbnb_blue;
}

.wht {
    color: white;
}

.sm-margin {
    margin: 2px;
}

h1 {
    margin-top: 30px;
}

h5 {
    color: $boolbnb_green;
}

.return-button {
    margin-top: 30px;
}

.apt-img {
    width: 200px;
    height: 130px;
    object-fit: contain;
    object-position: center;
}

.apt-img-lg {
    width: 50%;
}

input[id^="service_"] {
    margin-left: 25px;
}

.apt-show-row {
    border: 1px solid $boolbnb_green;
    border-radius: 5px;
    margin-bottom: 15px;
}
