/* header style */
.logo-link {
    height: 55px;
    padding: 0;
}

.logo {
    height: 100%;
}

.jumbo {
    background-image: image("public/storage/background/jumbo-loft.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 100px;

    .blk-form-container {
        background-color: rgba(0, 0, 0, .7);
        border-radius: 5px;
        width: 60%;
        padding: 30px;

        i {
            margin-left: 5px;
        }
    }
}


@media screen and (max-width: 768px) {
    .jumbo {
        .blk-form-container {
            width: 100%;
        }
    }
}
