table tbody tr td a.suspended {
    background-color: red;
    border-color: red;
}
// a[title="visualizza"].btn-secondary:hover {

#display_apt:hover {
    color: #fff;
    background-color: green;
    border-color: green;
}

#modify_apt:hover {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

#suspend_apt:hover {
    color: #fff;
    background-color: red;
    border-color: red;
}

#sponsor_apt:hover {
    color: #fff;
    background-color: blue;
    border-color: blue;
}